@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>courses</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/css/teacher.css">

</head>

<body>

    <header class="header">

        <section class="flex">

            <a href="teacher.html" class="logo">Teacher</a>



            <div class="icons">
                <div id="menu-btn" class="fa fa-sign-out"></div>

            </div>



        </section>

    </header>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="images/pic-1.jpg" class="image" alt="">
            <h3 class="name">Quyet</h3>
            <p class="role">teacher</p>



        </div>

        <nav class="navbar">
            <a href="teacher.html"><i class="fas fa-home"></i><span>home</span></a>
            <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
        </nav>

    </div>

    <section class="courses">

        <h1 class="heading">Courses</h1>

        <div class="box-container">

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-2.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-1.png" alt="">

                </div>
                <h3 class="title">complete HTML tutorial</h3>
                <a href="student.html" class="inline-btn">view Course</a>
            </div>

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-3.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-2.png" alt="">

                </div>
                <h3 class="title">complete CSS tutorial</h3>
                <a href="playlist.html" class="inline-btn">view Course</a>
            </div>

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-4.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-3.png" alt="">

                </div>
                <h3 class="title">complete JS tutorial</h3>
                <a href="playlist.html" class="inline-btn">view Course</a>
            </div>

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-5.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-4.png" alt="">

                </div>
                <h3 class="title">complete Boostrap tutorial</h3>
                <a href="playlist.html" class="inline-btn">view Course</a>
            </div>

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-6.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-5.png" alt="">

                </div>
                <h3 class="title">complete JQuery tutorial</h3>
                <a href="playlist.html" class="inline-btn">view Course</a>
            </div>

            <div class="box">
                <div class="tutor">
                    <img src="images/pic-7.jpg" alt="">
                    <div class="info">
                        <h3>Quyet</h3>
                        <span>21-10-2024</span>
                    </div>
                </div>
                <div class="thumb">
                    <img src="images/thumb-6.png" alt="">

                </div>
                <h3 class="title">complete SASS tutorial</h3>
                <a href="playlist.html" class="inline-btn">view Course</a>
            </div>
        </div>


        </div>

    </section>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>


</body>

</html>