@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!-- custom css file link  -->
     <link rel="stylesheet" href="~/css/teacher.css">

</head>

<body>

    <header class="header">

        <section class="flex">

            <a href="teacher.html" class="logo">Teacher</a>



            <div class="icons">
                <div id="menu-btn" class="fa fa-sign-out"></div>

            </div>



        </section>

    </header>

    <div class="side-bar">

        <div id="close-btn">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            <img src="images/pic-1.jpg" class="image" alt="">
            <h3 class="name">Quyet</h3>
            <p class="role">teacher</p>

        </div>

        <nav class="navbar">
            <a href="teacher.html"><i class="fas fa-home"></i><span>home</span></a>
            <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
        </nav>

    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Student</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Date of birth</th>
                                    <th>Email</th>
                                    <th>Phone number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>




                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Quyet</td>
                                    <td>Male</td>
                                    <td>24/10</td>
                                    <td>quyet@gmail.com</td>
                                    <td>121313131</td>
                                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- custom js file link  -->
    <script src="js/script.js"></script>


</body>

</html>